@import '~antd/dist/antd.css';

.site-layout-background {
  background: #fff;
}

.content {
  padding: 24px 24px 0 24px;
  margin: 0;
}

.layout {
  height: 100vh;
}

.button {
  margin: 5px 0 5px 17px;
  background-color: #001529;
  border: none;
}